@media (max-width: 768px) {
    h1{
        font-size: 2rem;
    }
    .btn-nav{
        margin-left: 0;
    }
    .card-body p{
        padding: 0 20%;
    }
    .newsletter-input{
        width: 18rem;
    }
    footer{
        text-align: center;
    }
    footer ul{
        display: flex;
        flex-direction: column;
    }
    footer small{
        display: none;
    }
    .mobile-text{
        display: block;
    }

}



